.main-container {
  flex-grow: 1;
  background-color: #282d35;
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.main-container-logo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: -1;
}
