.navigation {
  background-color: #21222a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 26px;
  padding-right: 10px;
  padding-block: 31px;
  gap: 20px;
}
